<!-- Directive par Attribut ngClass -->
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus ==='Allumé',
                'list-group-item-danger': appareilStatus ==='Éteint'}">

    <!-- Directive Structurelle ngIf -->
    <div style="width: 20px; height: 20px; background-color: red;"
         *ngIf="appareilStatus === 'Éteint'">
    </div>
    <!-- L'interpolation {{}} -->
    <!-- Directive par Attribut ngStyle -->
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <!-- Two-way Binding -->
    <input type="text" class="form-control" [(ngModel)]="appareilName">
</li>