<div class="col-xs-12">
  <h2>Mes Appareils</h2>
  <!-- Asynchronous Pipe -->
  <p>Mis à jour : {{lastUpdate | async  }}</p>
  <br>
  <ul class="list-group">
    <!-- Directive Structurelle ngFor -->
    <app-appareil *ngFor="let appareil of appareils; let i = index"
                  [indexOfAppareil] = "i"
                  [appareilName]="appareil.name"
                  [appareilStatus]="appareil.status">
    </app-appareil>
  </ul>
  <br>
  <!-- Property Binding [] -->
  <!-- Event Binding () -->
  <button class="btn btn-success"
          (click)="onAllumer()">
    Tout Allumer
  </button>

  <button class="btn btn-danger"
          (click)="onEteindre()">
    Tout Éteindre
  </button>
</div>
