:host ::ng-deep app-appareil-view {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0D47A1;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.nav{
  height:100%;
  border-color: white;
}

.nav-link {
  height:100%;
  padding-top: 17px;
  color: white;
}

.nav-link.active {
  //color: #0D47A1;
  color: #C3002F;
  background-color: white;
}

.nav-link.active:hover {
  //color: #0D47A1;
  //color: white;
  //background-color: #d0e2f5;
  background-color: #ffb5c5;
  transition: 0.1s;
}

.nav-link:hover {
  //color: #0D47A1;
  //background-color: #7FB0E1;
  background-color: #DD0031;
  transition: 0.1s;
}

body, html {
  height:100%;
  min-height:100%;
  margin:0;
}

:host ::ng-deep app-appareil-view .content {
  position:relative;
  display: flex;
  margin: 22px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  min-height:100%;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}